/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  gap: var(--page-gap);
  min-width: 355px;
  max-width: 1024px;
  height: 100%;
  font-family: var(--font), sans-serif;
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  display: grid;
  grid-template-rows: repeat(5, min-content);
  min-block-size: 668px;
  block-size: 100vh; /*Минимальная высота блока по макету*/
  padding: 10px;
}

.rec {
  position: absolute;
  right: 30px;
  display: block;
  justify-self: flex-end;
  width: 52px;
  height: 26px;
  color: var(--section-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
}

.rec::after {
  content: " ";
  position: absolute;
  margin-top: 8px;
  margin-left: 12px;
  border: 5px solid var(--accent-color);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
}

.title {
  color: var(--title-color);
  font-weight: var(--font-title);
  font-size: var(--font-size-title);
  line-height: var(--font-line-height-title);
  letter-spacing: 0%;
  text-shadow: 4px 4px 0px var(--color-shadow);
}

.header__theme-menu {
  justify-self: end;
  align-self: flex-end;
  margin-block-start: 40px;
  margin-block-end: 10px;
}

.header__theme-menu-list {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
}

.header__theme-menu-button {
  width: 70px;
  height: 26px;
  border: 1px solid transparent;
  padding-bottom: 3px;
  color: var(--button-color);
  font-weight: 400;
  font-size: var(--font-size);
  line-height: 18px;
  text-align: center;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 1px solid var(--hover-color);
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color);
}

.link:hover {
  border-bottom: 1px solid;
}

.link:focus-visible {
  outline: 1px solid var(--focus-color);
}

.header__theme-menu-button_active {
  border: 1px solid;
  pointer-events: none;
}

.header__title {
  justify-self: start;
  margin-top: 55px;
}

.title-decor {
  color: var(--color-post-title);
  font-weight: var(--font-title);
  font-size: var(--font-size);
  line-height: 23.4px;
  letter-spacing: 0%;
  background-color: var(--color-bg-post-title);
}

.header__post-title {
  height: min-content;
  margin-top: 55px;
  margin-bottom: 32px;
}

.main__content {
  display: grid;
  grid-template-rows: repeat(4, min-content);
  gap: 50px;
  padding-right: 10px;
  padding-left: 10px;
}

.double-title {
  margin-bottom: 20px;
}

.section__title {
  margin-bottom: 20px;
  color: var(--section-color);
  font-weight: var(--font-title);
  font-size: var(--font-size);
  line-height: 23.4px;
  letter-spacing: 0%;
}

.section__content {
  margin-top: 10px;
  color: var(--section-content-color);
  font-weight: var(--font-content);
  font-size: var(--font-size);
  line-height: 23.4px;
  letter-spacing: 0%;
}

.not-fat {
  font-weight: var(--font-content);
}

.link {
  text-decoration: none;
  text-shadow: 2px 1px 0 var(--color-shadow);
}

.section__list {
  display: grid;
  gap: 20px;
}

.section__card-image {
  grid-auto-flow: row dense;
  width: min-content;
}

.section__card-image-title {
  margin-bottom: 10px;
}

.section__card-list {
  display: grid;
  gap: 10px;
}

.section__card-image {
  width: 100%;
  height: 100%;
}

.image {
  max-width: 100%;
  height: min-content;
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
}

.sunset {
  height: 142px;
}

.ice-cream {
  height: 355px;
}

.tape {
  height: 237px;
}

.books {
  height: 355px;
}

.street {
  height: 237px;
}
/*Переделаны медиа-запросы под замечания ревьюера, убрана стелизация по номеру блока*/
/*HTML код дополнен классами*/
@media (width > 376px) {
  .sunset {
    height: auto;
    min-height: 142px;
  }

  .ice-cream {
    height: auto;
    min-height: 355px;
  }

  .tape {
    height: auto;
    min-height: 237px;
  }

  .books {
    height: auto;
    min-height: 355px;
  }

  .street {
    height: auto;
    min-height: 237px;
  }
}

.footer {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  align-content: space-between;
  padding: 10px;
  min-block-size: 668px;
  block-size: 100vh;
}

.footer-title {
  display: flex;
  justify-self: center;
  align-self: center;
  color: var(--title-color);
  font-weight: var(--font-title);
  font-size: var(--font-size-title);
  line-height: var(--font-line-height-title);
  text-shadow: 2px 2px 0px var(--color-shadow);
}

.decorated-zone::after {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  border-bottom: 1px solid var(--color-decor);
  border-left: 1px solid var(--color-decor);
}

.decorated-zone::before {
  content: "";
  display: flex;
  justify-self: flex-end;
  align-self: start;
  width: 25px;
  height: 25px;
  border-top: 1px solid var(--color-decor);
  border-right: 1px solid var(--color-decor);
}

@media (width >= 768px) {
  .page {
    gap: 60px;
  }

  .rec {
    right: 40px;
  }
  .header {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 0;
  }

  .header__theme-menu {
    height: 34vh;
    margin-bottom: 0;
    padding-top: 130px;
  }

  .header__post-title {
    display: flex;
    justify-items: center;
    margin-top: 16vh;
    margin-left: calc(50% + 10px);
  }

  .decorated-zone::after {
    position: absolute;
    left: 20px;
    margin-top: calc(94vh - 5px);
  }

  .decorated-zone::before {
    position: absolute;
    right: 20px;
  }

  .main__content {
    gap: 50px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .main__section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
  .section__title {
    grid-column: 1;
    grid-row: 1 / 3;
  }
  .section__card-list {
    grid-column: 2;
    grid-row: 2 / 3;
  }
  .double {
    grid-template-rows: min-content min-content min-content;
  }
  .double-title {
    grid-column: 2;
    grid-row: 1;
    margin-bottom: 0;
  }

  .section__title-uniq {
    grid-row: 1;
    margin-bottom: 10px;
  }
  .section__uniq {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(4, min-content);
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .section__list-uniq {
    grid-column: 1 / 3;
    grid-row: 2;
    gap: 20px;
    height: min-content;
  }

  .section__cards {
    display: grid;
    grid-template-columns: max-content;
    grid-template-rows: min-content min-content;
    width: 100%;
    height: min-content;
    margin-top: 10px;
  }

  .section__card-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    grid-template-rows: minmax(192px, 260px) minmax(230px, 315px) minmax(
        318px,
        433px
      );
    grid-auto-flow: row dense;
    grid-column: span 2;
    gap: 20px;
    box-sizing: border-box;
    width: calc(100vw - 40px);
    max-width: 984px;
    height: calc(100vh - 245px);
    min-height: 780px;
  }

  .section__card-image-title {
    grid-column: span 2;
    margin-bottom: 0;
  }

  .section__card-image {
    width: 100%;
    min-height: 100%;
  }

  .sunset {
    grid-column: span 2;
    grid-row: 1;
    max-height: 260px;
  }

  .ice-cream {
    grid-column: 3;
    grid-row: span 2;
  }

  .tape {
    grid-column: 1;
    grid-row: span 2;
  }

  .street {
    grid-column: 2 / 4;
    grid-row: 3;
    max-height: 433px;
  }

  .books {
    grid-column: 2;
    grid-row: 2;
    max-height: 315px;
  }

  .footer {
    grid-template-columns: min-content 1fr min-content;
    grid-template-rows: min-content 1fr min-content;
    padding: 20px;
    min-block-size: 668px;
    block-size: 100vh;
  }

  .footer-title {
    grid-column: span 4;
    grid-row: 2;
    justify-self: center;
    align-self: center;
  }
}

@media (width >= 1024px) {
  .page {
    grid-template-rows: min-content min-content min-content;
    gap: 60px;
  }

  .header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, min-content);
    margin-bottom: 0;
  }

  .header__theme-menu {
    grid-column: span 2;
    grid-row: 1;
    justify-self: center;
    align-items: flex-start;
    height: 30px;
    margin-top: 0;
    margin-left: 18px;
    padding-top: 0;
  }
  .header__theme-menu-list {
    grid-template-columns: repeat(3, min-content);
    grid-template-rows: min-content;
  }
  .header__post-title {
    grid-column: 2 / 3;
    grid-row: 3;
    justify-self: flex-end;
    align-self: end;
    margin-top: 15vh;
    margin-right: 0;
    margin-left: 10px;
    margin-block-end: 90px;
  }
  .header__title {
    grid-column: span 2;
    grid-row: 2;
    width: 100%;
    margin-top: 35vh;
  }
  .decorated-zone::after {
    margin-top: calc(92vh - 5px);
  }

  .footer-title {
    justify-self: center;
    align-self: center;
  }

  .main__section {
    gap: 10px;
  }

  .section__uniq {
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 20px;
  }
  .double-title {
    margin-bottom: 10px;
  }

  .section__title-uniq {
    margin-bottom: 10px;
  }

  .section__list-uniq {
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: span 3;
  }

  .section__cards {
    gap: 20px;
    margin-top: 20px;
  }
  .section__card-list {
    height: max-content;
  }

  .footer {
    height: 100vh;
    min-block-size: 668px;
    block-size: 100vh;
  }
}
